.p2 {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 10em;
    padding-right: 10em;
    text-align: justify;
  }


  
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: none;
  align: center;
  width: 500px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}